In [1]:
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
train_label = pd.read_csv('./data/train_labels.csv')
train_feature = pd.read_csv('./data/train_features.csv')
test_feature = pd.read_csv('./data/test_features.csv')
sample_submission = pd.read_csv('./data/sample_submission.csv')

In [4]:
train_label.head()

   id  label                 label_desc
0   0     37  Shoulder Press (dumbbell)
1   1     26               Non-Exercise
2   2      3         Biceps Curl (band)
3   3     26               Non-Exercise
4   4     26               Non-Exercise

In [5]:
train_label

        id  label                          label_desc
0        0     37           Shoulder Press (dumbbell)
1        1     26                        Non-Exercise
2        2      3                  Biceps Curl (band)
3        3     26                        Non-Exercise
4        4     26                        Non-Exercise
...    ...    ...                                 ...
3120  3120     26                        Non-Exercise
3121  3121     26                        Non-Exercise
3122  3122     15  Dynamic Stretch (at your own pace)
3123  3123     26                        Non-Exercise
3124  3124      2                          Bicep Curl

[3125 rows x 3 columns]

In [6]:
train_label['label_desc'].value_counts()

Non-Exercise                                    1518
Device on Table                                   97
Plank                                             55
Wall Squat                                        48
Jump Rope                                         47
                                                ...
Triceps Kickback (knee on bench) (right arm)      13
Arm Band Adjustment                               12
Dumbbell Row (knee on bench) (right arm)          12
Triceps Kickback (knee on bench) (left arm)       12
Dumbbell Row (knee on bench) (left arm)           12
Name: label_desc, Length: 61, dtype: int64

In [7]:
test_feature[['id', 'time']].groupby('id').count()['time'].unique()

array([600], dtype=int64)

In [8]:
test_feature

,id,time,acc_x,acc_y,acc_z,gy_x,gy_y,gy_z
0,3125,0,-0.628100,-0.160155,0.151487,49.665357,88.435961,13.597668
1,3125,1,-0.462548,0.012462,-0.053726,56.953059,96.185341,16.278458
2,3125,2,-0.363481,-0.091789,-0.130004,29.557396,93.836453,13.329043
3,3125,3,-0.351750,-0.239870,-0.193053,23.686172,88.608721,13.449771
4,3125,4,-0.312934,-0.123762,-0.318621,20.410071,85.327707,13.884912
...,...,...,...,...,...,...,...,...
469195,3906,595,0.104191,-0.784979,0.639513,-10.475346,14.095361,-190.358982
469196,3906,596,0.103297,-0.758954,0.615687,-25.360272,-8.523018,-180.393291
469197,3906,597,0.128294,-0.749389,0.586184,-27.917723,-23.186245,-162.624160
469198,3906,598,0.104130,-0.692731,0.573397,-27.847980,-30.407555,-138.761676
469199,3906,599,0.059299,-0.613487,0.556780,-29.900725,-36.586219,-116.423810

In [9]:
train_feature

,id,time,acc_x,acc_y,acc_z,gy_x,gy_y,gy_z
0,0,0,1.206087,-0.179371,-0.148447,-0.591608,-30.549010,-31.676112
1,0,1,1.287696,-0.198974,-0.182444,0.303100,-39.139103,-24.927216
2,0,2,1.304609,-0.195114,-0.253382,-3.617278,-44.122565,-25.019629
3,0,3,1.293095,-0.230366,-0.215210,2.712986,-53.597843,-27.454013
4,0,4,1.300887,-0.187757,-0.222523,4.286707,-57.906561,-27.961234
...,...,...,...,...,...,...,...,...
1874995,3124,595,-0.712530,-0.658357,0.293707,-29.367857,-104.013664,-76.290437
1874996,3124,596,-0.683037,-0.658466,0.329223,-30.149089,-101.796809,-76.625087
1874997,3124,597,-0.664730,-0.666625,0.364114,-27.873095,-98.776072,-79.365125
1874998,3124,598,-0.630534,-0.682565,0.373696,-23.636550,-99.139495,-80.259478
1874999,3124,599,-0.578351,-0.700235,0.384390,-17.917626,-100.181873,-80.676229

In [10]:
#데이터전처리 시작

In [8]:
features = ['id', 'acc_x', 'acc_y', 'acc_z', 'gy_x', 'gy_y', 'gy_z']
X_data = train_feature[features].groupby('id').agg(['sum', 'median', 'max', 'min', 'mean'])  #id별로 잘 합쳐짐
X_exam = test_feature[features].groupby('id').agg(['sum', 'median','max', 'min', 'mean'])    #id별로 잘 합쳐짐

In [21]:
Y_data = train_label['label']
Y_data

0       37
1       26
2        3
3       26
4       26
        ..
3120    26
3121    26
3122    15
3123    26
3124     2
Name: label, Length: 3125, dtype: int64

In [9]:
from sklearn.model_selection import train_test_split

X_train, X_test, Y_train, Y_test = train_test_split(X_data, Y_data, test_size=0.2,
                                                    random_state=26, stratify = Y_data)
# stratify  = Y가 한쪽으로 쏠리지 않게 해줌. 이게 없으면 성능차이가 좀 있을 수 있음.

NameError: name 'Y_data' is not defined

In [24]:
#RandomForest

In [10]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score

In [49]:
clf = RandomForestClassifier(random_state =26) #인스턴스
clf.fit(X_train, Y_train) # 학습
pred = clf.predict(X_test)
accuracy = accuracy_score(Y_test, pred)
print(accuracy)

0.7408

In [51]:
#GridSearch : 교차검증+최적의 파라미터찾기  # 정확도는 떨어지지만 일반화는 좋음

In [52]:
from sklearn.model_selection import GridSearchCV

In [53]:
%%time 

from sklearn.model_selection import GridSearchCV

params = {
    'n_estimators':[50, 100, 150],  #생성트리 개수
    'criterion':['gini', 'entropy'], #지니계수, 
    'max_depth': [6, 8, 10, 12],
    'min_samples_leaf': [8, 12, 18],
    'min_samples_split': [8, 16, 20]
}

rf_clf = RandomForestClassifier(random_state=0, n_jobs=-1)
grid_cv = GridSearchCV(rf_clf, param_grid=params, cv=2, n_jobs=-1)
grid_cv.fit(X_train, Y_train)

Wall time: 7min 50s

GridSearchCV(cv=2, estimator=RandomForestClassifier(n_jobs=-1, random_state=0),
             n_jobs=-1,
             param_grid={'criterion': ['gini', 'entropy'],
                         'max_depth': [6, 8, 10, 12],
                         'min_samples_leaf': [8, 12, 18],
                         'min_samples_split': [8, 16, 20],
                         'n_estimators': [50, 100, 150]})

In [54]:
print('최적 하이퍼 파라미터: \n', grid_cv.best_params_)

최적 하이퍼 파라미터:
 {'criterion': 'gini', 'max_depth': 12, 'min_samples_leaf': 8, 'min_samples_split': 8, 'n_estimators': 150}

In [55]:
pred = grid_cv.best_estimator_.predict(X_test)
accuracy = accuracy_score(Y_test, pred)
print('accuracy : {:.4f}'.format(accuracy))  #GridSearchCV : 정확도는 떨어지지만 일반화는 좋음
                                            #학습데이터 떨어짐.

accuracy : 0.6704

In [1]:
#######################딥러닝, 텐서플로우, 케라스 써보기

RNN : 이전의 정보를 복사해서 과거 정보 바탁 예측(시계열)

LSTM : RNN의 한 종류. '장기의존성 문제'를 보완. 먼 과거의 이벤트를 고려하지 못하는 문제

GRU : LSTM의 간소화된 버전

In [3]:
import tensorflow as tf
from keras.models import Sequential
from keras.layers import Dense, LSTM   
from keras.layers import Dense, GRU

In [4]:
train_label = pd.read_csv('./data/train_labels.csv')
train_feature = pd.read_csv('./data/train_features.csv')
test_feature = pd.read_csv('./data/test_features.csv')
sample_submission = pd.read_csv('./data/sample_submission.csv')

In [5]:
import numpy as np

In [20]:
train_feature

,id,time,acc_x,acc_y,acc_z,gy_x,gy_y,gy_z
0,0,0,1.206087,-0.179371,-0.148447,-0.591608,-30.549010,-31.676112
1,0,1,1.287696,-0.198974,-0.182444,0.303100,-39.139103,-24.927216
2,0,2,1.304609,-0.195114,-0.253382,-3.617278,-44.122565,-25.019629
3,0,3,1.293095,-0.230366,-0.215210,2.712986,-53.597843,-27.454013
4,0,4,1.300887,-0.187757,-0.222523,4.286707,-57.906561,-27.961234
...,...,...,...,...,...,...,...,...
1874995,3124,595,-0.712530,-0.658357,0.293707,-29.367857,-104.013664,-76.290437
1874996,3124,596,-0.683037,-0.658466,0.329223,-30.149089,-101.796809,-76.625087
1874997,3124,597,-0.664730,-0.666625,0.364114,-27.873095,-98.776072,-79.365125
1874998,3124,598,-0.630534,-0.682565,0.373696,-23.636550,-99.139495,-80.259478
1874999,3124,599,-0.578351,-0.700235,0.384390,-17.917626,-100.181873,-80.676229

In [6]:
X = tf.reshape(np.array(train_feature.iloc[:,2:]),[-1,600,6]) #3차원을 배열한다
X.shape

TensorShape([3125, 600, 6])

In [7]:
train_feature.iloc[:,2:]

            acc_x     acc_y     acc_z       gy_x        gy_y       gy_z
0        1.206087 -0.179371 -0.148447  -0.591608  -30.549010 -31.676112
1        1.287696 -0.198974 -0.182444   0.303100  -39.139103 -24.927216
2        1.304609 -0.195114 -0.253382  -3.617278  -44.122565 -25.019629
3        1.293095 -0.230366 -0.215210   2.712986  -53.597843 -27.454013
4        1.300887 -0.187757 -0.222523   4.286707  -57.906561 -27.961234
...           ...       ...       ...        ...         ...        ...
1874995 -0.712530 -0.658357  0.293707 -29.367857 -104.013664 -76.290437
1874996 -0.683037 -0.658466  0.329223 -30.149089 -101.796809 -76.625087
1874997 -0.664730 -0.666625  0.364114 -27.873095  -98.776072 -79.365125
1874998 -0.630534 -0.682565  0.373696 -23.636550  -99.139495 -80.259478
1874999 -0.578351 -0.700235  0.384390 -17.917626 -100.181873 -80.676229

[1875000 rows x 6 columns]

In [8]:
# utils.to_categorical :    
#'label 칼럼을 One_hot encoding하여 (3125, 61)으로 재배열: 운동의 종류가 61
# One hot encoding이란, o,x를 1로 바꿈. 이런걸로
Y=tf.keras.utils.to_categorical(train_label['label'])
Y.shape

(3125, 61)

In [ ]:
model =Sequential()
model.add(LSTM(32, input_shape = (600,6)))   #퍼셉트론 개수 32
model.add(Dense(128, activation = 'relu'))
model.add(Dense(61, activation = 'softmax'))   #출력개수 61개, 이중뷴류는 Sigmoid, 다중분류는 softmax
model.compile(optimizer = 'rmsprop', loss='categorical_crossentropy',
             metrics=['accuracy'])  #rmsprop하고 adam 차이 rmsprop은 0.508, adam(relu)은 0.5120
#loss는 손실함수. 훈련에 사용. y-y^, 실제 예측과 괴리 얼마나 되는지 비용함수
#crossentropy는 분류문제에 쓴다.
#metric은 평가지표. 훈련 과정을 모니터링하는데 사용

In [ ]:
model.fit(X,Y,epochs=30, batch_size=128, validation_split=0.2)

In [13]:
test_X = tf.reshape(np.array(test_feature.iloc[:,2:]),[-1,600,6])
test_X.shape

TensorShape([782, 600, 6])

In [14]:
prediction=model.predict(test_X)

In [15]:
prediction.shape

(782, 61)

In [16]:
prediction

array([[2.8915186e-03, 3.2311226e-03, 4.5751967e-06, ..., 6.2131422e-04,
        1.9696178e-02, 1.6060237e-02],
       [4.1997116e-03, 3.1538486e-02, 1.4886304e-04, ..., 6.9227940e-03,
        6.4516985e-03, 1.7253418e-03],
       [5.7642683e-03, 3.9400887e-03, 1.3067437e-05, ..., 2.0001637e-02,
        1.4283576e-03, 1.4467652e-02],
       ...,
       [5.7951654e-03, 3.4810277e-03, 7.9242287e-05, ..., 1.0192291e-03,
        3.7760928e-03, 1.1368744e-03],
       [5.3764861e-03, 2.3919099e-03, 2.8649248e-02, ..., 8.4586237e-03,
        5.7139727e-03, 7.1881642e-04],
       [2.4822266e-03, 1.0580959e-03, 3.7322901e-04, ..., 1.1862052e-03,
        8.0849056e-04, 4.7108767e-04]], dtype=float32)

In [17]:
test_feature

,id,time,acc_x,acc_y,acc_z,gy_x,gy_y,gy_z
0,3125,0,-0.628100,-0.160155,0.151487,49.665357,88.435961,13.597668
1,3125,1,-0.462548,0.012462,-0.053726,56.953059,96.185341,16.278458
2,3125,2,-0.363481,-0.091789,-0.130004,29.557396,93.836453,13.329043
3,3125,3,-0.351750,-0.239870,-0.193053,23.686172,88.608721,13.449771
4,3125,4,-0.312934,-0.123762,-0.318621,20.410071,85.327707,13.884912
...,...,...,...,...,...,...,...,...
469195,3906,595,0.104191,-0.784979,0.639513,-10.475346,14.095361,-190.358982
469196,3906,596,0.103297,-0.758954,0.615687,-25.360272,-8.523018,-180.393291
469197,3906,597,0.128294,-0.749389,0.586184,-27.917723,-23.186245,-162.624160
469198,3906,598,0.104130,-0.692731,0.573397,-27.847980,-30.407555,-138.761676
469199,3906,599,0.059299,-0.613487,0.556780,-29.900725,-36.586219,-116.423810

In [18]:
print(prediction.max(axis=1))

[0.3914018  0.62417823 0.40171048 0.54594433 0.90526694 0.85739136
 0.7800037  0.45189747 0.9212997  0.40229562 0.812374   0.6768657
 0.17312714 0.7690582  0.2727583  0.48015216 0.5582025  0.694454
 0.38660434 0.8524445  0.7266618  0.54304296 0.36022145 0.15540893
 0.64274293 0.8651707  0.5107144  0.44562384 0.82543755 0.4280093
 0.6662898  0.52055913 0.81104064 0.5478992  0.18065493 0.5036677
 0.5440909  0.17607151 0.7670126  0.6044736  0.41450778 0.574268
 0.22252814 0.45619953 0.32272246 0.30669433 0.30015782 0.31719127
 0.27715737 0.5838014  0.73032665 0.2856396  0.94911706 0.2755646
 0.4289386  0.38685432 0.6509133  0.37738743 0.5057544  0.82433975
 0.3920018  0.14649336 0.3720832  0.58384264 0.6441858  0.4051374
 0.8519441  0.39958188 0.19122618 0.8129146  0.2695457  0.4676704
 0.8007031  0.37218693 0.6610367  0.6004282  0.5078807  0.16291966
 0.60207313 0.4657779  0.8945133  0.52586937 0.8210059  0.4893629
 0.41193277 0.26528695 0.3744899  0.71598166 0.47178918 0.82196975
 0.7249876  0.19105299 0.16092218 0.32689288 0.3346181  0.2975642
 0.5699969  0.69637203 0.916326   0.37884256 0.85734195 0.49096715
 0.14654484 0.1718292  0.31553814 0.20818208 0.4017068  0.3481935
 0.736612   0.6024299  0.44115955 0.41033784 0.70708907 0.6692327
 0.6671853  0.31113276 0.48336405 0.60067874 0.21017095 0.6460168
 0.63153094 0.77929556 0.7061826  0.916521   0.2975987  0.4934556
 0.59439325 0.47279117 0.58584106 0.544062   0.6022365  0.59743667
 0.7060978  0.60101736 0.44636956 0.4066827  0.68103224 0.45471427
 0.52079993 0.6706858  0.21247794 0.48997918 0.57554144 0.5205831
 0.37809578 0.9071224  0.52678055 0.4756748  0.43072313 0.3348178
 0.6366616  0.3496167  0.30501524 0.7529004  0.32132173 0.50840664
 0.54404056 0.7879626  0.1897594  0.60302174 0.61354893 0.28581646
 0.5913389  0.6103399  0.16212799 0.6872031  0.7693373  0.3723207
 0.17823482 0.7400718  0.9063231  0.4555504  0.18646917 0.6128687
 0.6436889  0.5426163  0.21502201 0.68988633 0.8481004  0.59666854
 0.7593983  0.68605185 0.6663491  0.20704986 0.18697746 0.70609325
 0.61661905 0.31803614 0.41466117 0.34755605 0.7790513  0.28403142
 0.61709815 0.49194542 0.5077205  0.58067524 0.5079836  0.32543123
 0.32225624 0.7197141  0.60586935 0.49940568 0.573122   0.87486535
 0.6137803  0.8012637  0.7552435  0.54538614 0.58492345 0.7213672
 0.615815   0.4293803  0.7853463  0.6235949  0.44311717 0.73120576
 0.3265186  0.77504456 0.5958577  0.17794204 0.4288869  0.7018265
 0.19543728 0.73079437 0.87522227 0.7020442  0.6712838  0.42330632
 0.7795575  0.3198656  0.5487579  0.5218913  0.79720676 0.75534284
 0.5722149  0.79222816 0.31476533 0.5112707  0.32166365 0.7488634
 0.24645872 0.47877154 0.49969763 0.6498283  0.5576027  0.5688307
 0.6655968  0.5226975  0.78457755 0.18572958 0.48011464 0.6279661
 0.53364515 0.21343614 0.77207273 0.7421722  0.3675271  0.8166595
 0.5009145  0.5964326  0.76031744 0.5755517  0.87803    0.6693186
 0.6210936  0.65272415 0.7676945  0.5516509  0.86289895 0.16084804
 0.46576983 0.6630378  0.61559093 0.2805036  0.15385503 0.59188503
 0.6237646  0.6387961  0.75687736 0.84597254 0.6187835  0.5897187
 0.68732834 0.6787377  0.24421495 0.8948033  0.31018245 0.3069868
 0.55014414 0.5822833  0.65375894 0.46485567 0.6914331  0.17193747
 0.57252634 0.15795763 0.8989     0.24305518 0.13942248 0.6031742
 0.49926656 0.432948   0.40446904 0.534012   0.69116473 0.42007533
 0.42178258 0.74775875 0.9000377  0.49571723 0.4295096  0.8064758
 0.7573803  0.24909092 0.6307097  0.5885996  0.35405737 0.31153223
 0.8208113  0.75849307 0.5251175  0.40427828 0.72959244 0.3028665
 0.4451711  0.5801515  0.28556442 0.81170833 0.6663424  0.58959997
 0.8759574  0.52119094 0.7272904  0.61708415 0.65100986 0.4564557
 0.28820962 0.8884862  0.58930415 0.54069823 0.8051479  0.56415206
 0.7777366  0.52002686 0.8348232  0.19862217 0.87218887 0.43130305
 0.36772949 0.38055202 0.77105427 0.3306071  0.7980992  0.49593636
 0.46881375 0.32930312 0.6992843  0.71911806 0.6428942  0.8787081
 0.85561186 0.46487623 0.9342111  0.26502228 0.1385357  0.7123648
 0.35371774 0.5953423  0.44940645 0.65864384 0.69294643 0.11080259
 0.15117235 0.35260728 0.6559313  0.61871576 0.73879504 0.17522274
 0.54868144 0.76012796 0.5142832  0.67307216 0.23701285 0.18483715
 0.06308106 0.56180274 0.28529042 0.59423065 0.40941337 0.4484825
 0.49499536 0.2405052  0.7106421  0.8514276  0.62053174 0.5931751
 0.48926422 0.32844606 0.5664765  0.4151685  0.6161706  0.833041
 0.62328565 0.2648838  0.5161009  0.8367052  0.3810664  0.3698333
 0.9288375  0.8150792  0.7813411  0.2823097  0.6508653  0.29784024
 0.9636696  0.7066928  0.72299117 0.64889413 0.18274519 0.4064861
 0.3594666  0.47073835 0.67564255 0.8814861  0.48964164 0.28014943
 0.66578174 0.7224269  0.40706763 0.53642404 0.36341614 0.37928423
 0.67765564 0.5966202  0.58646107 0.5478611  0.453679   0.18243246
 0.7259923  0.41013402 0.6209742  0.30128038 0.33491036 0.6335904
 0.8488415  0.8561064  0.26220483 0.49447867 0.7265517  0.48753658
 0.38096064 0.19190742 0.63155204 0.5661445  0.5353767  0.70328945
 0.77527565 0.14362891 0.34077471 0.64665383 0.61628246 0.29728976
 0.20589721 0.81609917 0.72366023 0.7872284  0.24975194 0.5267195
 0.4604593  0.28161618 0.1635271  0.49745336 0.4806994  0.89589244
 0.45916468 0.54974383 0.740236   0.5154902  0.23207566 0.6446335
 0.3044452  0.48341197 0.56828666 0.7280778  0.6751798  0.8675611
 0.7099925  0.24818836 0.69459724 0.39554745 0.52440697 0.85426044
 0.6005241  0.94934446 0.63435805 0.57745236 0.5807436  0.93899685
 0.47820243 0.40846038 0.47963655 0.44664797 0.44261903 0.22060773
 0.40892026 0.21609998 0.6063135  0.5491394  0.3502398  0.26299962
 0.6684135  0.42046303 0.20403813 0.6329075  0.2164014  0.59206605
 0.14914541 0.47701168 0.3108595  0.5883432  0.20892464 0.43586007
 0.41773096 0.5995761  0.8362819  0.2158678  0.7235895  0.2550157
 0.7603128  0.8870722  0.17796902 0.37331116 0.36398777 0.32782975
 0.87052554 0.8404286  0.43013    0.72503906 0.5306966  0.59332466
 0.7838687  0.87262493 0.47596127 0.64139956 0.22461864 0.47597557
 0.69311005 0.24916866 0.29120925 0.4837231  0.61598    0.14811975
 0.58693254 0.32584855 0.21957998 0.41865498 0.4036568  0.66792846
 0.5174509  0.58712155 0.30107498 0.35792497 0.55172986 0.22094141
 0.7500243  0.20000112 0.7379595  0.37805423 0.32018536 0.8298918
 0.720151   0.6637234  0.9321877  0.65311646 0.29158753 0.6863151
 0.24473268 0.34672725 0.3346692  0.3289867  0.5797082  0.6351368
 0.28440684 0.81412333 0.6972726  0.7735999  0.58702266 0.5477202
 0.50872564 0.48692158 0.2443066  0.4329428  0.29209343 0.86212766
 0.24035628 0.8173083  0.64437    0.25699425 0.41032922 0.7306526
 0.7574162  0.40579966 0.7118045  0.3938808  0.39652532 0.74361044
 0.47727266 0.58117443 0.17802967 0.47917876 0.6835325  0.4137252
 0.45919153 0.6512844  0.7276023  0.25727686 0.5930233  0.50378764
 0.74742776 0.2360467  0.5300464  0.64984274 0.59872913 0.13522284
 0.2523231  0.59687907 0.89754343 0.9440383  0.36696777 0.75929666
 0.19340912 0.55223566 0.4336407  0.67150867 0.65523976 0.17706126
 0.2114249  0.21714447 0.94772077 0.3946126  0.25425786 0.28321153
 0.5075613  0.75282645 0.27955088 0.23037285 0.2456462  0.7740497
 0.8846627  0.6559412  0.7740122  0.44688633 0.27643004 0.23006465
 0.5424194  0.5313909  0.71296555 0.17721036 0.76504296 0.9224222
 0.7440195  0.6220554  0.5397843  0.20620866 0.45446643 0.6873712
 0.61808753 0.7332144  0.5780755  0.72719693 0.8394736  0.84912723
 0.39437008 0.62048906 0.4151056  0.582167   0.71695584 0.53642064
 0.5945457  0.49818888 0.81207114 0.34760708 0.5100659  0.33233872
 0.8873885  0.31597552 0.22933163 0.62032723 0.7887204  0.2968199
 0.6106452  0.29302666 0.6403249  0.6337034  0.3311593  0.93866354
 0.8669137  0.5421732  0.8069217  0.36126408 0.3374375  0.9494645
 0.7071597  0.16850871 0.40469748 0.6164249  0.18985751 0.30217627
 0.81718224 0.49522924 0.24595194 0.47026458 0.86201024 0.4388629
 0.5537177  0.63456845 0.4124219  0.7064244  0.83834755 0.28441596
 0.33171907 0.7459781  0.6278483  0.5625356  0.87145424 0.56935114
 0.75021064 0.7220131  0.67869675 0.53615445 0.8349616  0.21125843
 0.54460585 0.44840965 0.45014712 0.3427314  0.39243528 0.76377285
 0.5114774  0.6448786  0.43614742 0.653155   0.6903256  0.7919901
 0.9159619  0.83793414 0.9083141  0.24952802 0.4971744  0.6277857
 0.52628815 0.47861788 0.6553455  0.36496428 0.33211744 0.24846786
 0.77553535 0.59740037 0.38725695 0.49217102 0.43816847 0.7240172
 0.18961023 0.4880066  0.61116654 0.7966363  0.32539362 0.73136073
 0.28438827 0.9761233  0.77003556 0.30209452 0.74180317 0.29246014
 0.5200259  0.39400724 0.26218435 0.45421913 0.41261214 0.45098743
 0.2673719  0.38116804]

In [ ]:
df=prediction.max(axis=1)
df.shape

In [11]:
tf.__version__

'2.3.0'